@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body,
html {
    height: 100%;
    background-color: #131C2B;
}

.background {
    height: 100%;
}

.title {
    color: aliceblue;
    font-family: 'Lato', sans-serif;
}

.large {
    font-size: 3em;
}

.letter-spacing-large {
    letter-spacing: 65px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.gap-20 {
    gap: 20px;
}