div.cell {
    max-width: 25px;
    max-height: 25px;
    transition: transform 80ms, background-color 600ms;
    box-sizing: border-box;
    color: black;
}

div.row {
    display: flex;
    gap: 3px;
    width: 100%;
}

div.cell:hover {
    cursor: pointer;
}

div.matrix {
    gap: 3px;
    width: 100%;
    height: 100%;
}

div.row:first-child div {
    border-top: 4px solid #131C2B;
}

div.row:last-child div {
    border-bottom: 4px solid #131C2B;
}

div.cell:first-child {
    border-left: 4px solid #131C2B;
}

div.cell:last-child {
    border-right: 4px solid #131C2B;
}

div.row:first-child>div:first-child {
    border-left: none;
}

div.row:last-child>div:last-child {
    border-right: none;
}

div.test {
    width: 50px;
    height: 50px;
    background-color: bisque;
    color: #131C2B;
}